@import url(./reset.css);
@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');


html,
body,
main,
header {
    min-width: 100%;
}

 h1 {
    font-size: 40px;
    color: #2c3e50;
    text-shadow: 1px #e74c3c;
    display: flex;
   margin-top: 1em;
    justify-content: center;
 }

 
main {
    display: flex;
    background-image: url;
   
}
main ul {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    margin: 100px auto 50px;
}
 
 main ul img {
   
 }
 .firstproducts{
    justify-content: space-between;
    margin: 100px auto 50px;
   
 }
 .secondproduts{
    justify-content: space-between;
    margin: 100px auto 50px;
 }
 
/* Nav */
 nav {
    width: 100%;
}
nav ul {
    display: flex;
    justify-content: center;
    background-color: #e74c3c;
    width: 100%;
}
nav ul li {
    text-decoration: none;
    font-family: 'Nerko One', cursive;
   padding: 8px;
}
nav ul li a {
    color: white;
    text-decoration: none;
    text-shadow: 2px 2px black;
    font-size: 41px;
    padding: 23px;
}
nav ul li a:hover {
    background-color: #c0392b;
}
